* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background: linear-gradient(-45deg, #2c1810, #4a1f1f, #1a1a2e, #16213e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
